@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: ##000;
  --green: #b9ff66;
  --dark: #191a23;
  --grey: #f3f3f3;
  --shadow: #191a23

  --shadow-solid: 0px 5px 0px 0px var(--shadow);
}

body {
  @apply text-black bg-white font-sans text-base lg:text-lg lg:!leading-[normal];
}
